.app-header {
  padding: 20px;
background-color: #680148;
}

.UlLista {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: 20px;
  text-decoration: none;
  justify-content: center;
}

.LiLista {
  background-color: #d2ef93;
  border-radius: 5px;
  border: 8px solid #d2ef93;
}

.RemoverSub {
  text-decoration: none;
  color: black;

}

.HomeSite {
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
}

.TextoHome {
  margin-left: 3%;
  margin-right: 3%;
}

.DestaqueHome {
  background-color: #d2ef93;
  border-radius: 5px;
  border: 8px solid #d2ef93;
}

.Historico {
  padding-top: 30px;
  padding-left: 50px;
  display: flex;
}

.TextoHist {
  margin-left: 4%;
  margin-right: 5%;
  border: 8px solid #efffcd;
  background-color: #efffcd;
  border-radius: 5px;

}

.imagem {
  width: 820px;
  height: 430px;
}

.Informacoes {
  text-align: center;
  margin-top: 20px;
}
.ajuda{
 margin-top: 50px;
}
.inputum {
  border-radius: 30px;
  height: 30px;

}

.inputum {
  width: 30%;
}

.inputdois {
  margin-top: 15px;
  border-radius: 30px;
  height: 30px;

}

.inputdois {
  width: 30%;
}

.inputtres {
  margin-top: 20px;
  border-radius: 30px;
  height: 30px;

}

.inputtres {
  width: 20%;
}

.inputtres {
  height: 80px;
}

.inputumlabel {
  padding: 20px;
}

.inputdoislabel {
  padding: 20px;
}

.inputtreslabel {
 width: 10ch;
}

footer {
  background-color:#680148;
  color: white;
  padding-bottom: 1%;
}

footer{
  margin-top: 15%;
}
